/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'IconFont-social';
  src: url("../asset/Entypo/entypo-social.eot");
  /* IE9 Compat Modes */
  src: url("../asset/Entypo/entypo-social.eot?#iefix") format("embedded-opentype"), url("../asset/Entypo/entypo-social.woff") format("woff"), url("../asset/Entypo/entypo-social.ttf") format("truetype"), url("../asset/Entypo/entypo-social.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

body {
  background-color: #674172;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background-image: url("../asset/img/bg.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin: 90px 0 0 0;
}

img {
  border: 0;
}

li {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6, span {
  color: #ffffff;
}

p {
  font-size: 13px;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  color: #000000;
  border: 0;
  height: 55px;
  margin: 30px 0;
  padding: 5px;
}

.submit {
  padding: 20px;
  color: #ffffff;
  background-color: #429a46;
  width: auto;
  display: inline-block;
  border-radius: 5px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.clearfix:after, header:after {
  clear: both;
}

.clearfix:before, header:before, .clearfix:after, header:after {
  content: "";
  display: table;
}

.clearfix, header {
  *zoom: 1;
}

header {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
}
header .logo {
  float: right;
  padding: 20px;
}
header .logo img {
  width: 200px;
  height: auto;
}
header .done {
  border: 1px solid white;
  padding: 10px;
  color: white;
  width: auto;
  float: left;
  margin: 20px 40px;
  display: none;
}

.content {
  width: 100%;
  height: 80%;
  position: relative;
}
.content .url-holder {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-family: 'IconFont-social';
}
.content .url-holder input[type="text"]::-webkit-input-placeholder,
.content .url-holder textarea::-webkit-input-placeholder {
  color: #b2b1b1;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
}
.content input[type="text"] {
  font-size: 36px;
  text-align: center;
  font-family: 'IconFont-social';
  color: #636465;
  width: 89%;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content input[type="text"]:focus {
  outline: 0;
}
.content input[type="text"]:focus + .submit-but {
  background-image: url("../asset/img/btn_start_green.png");
}
.content .submit-but {
  background-image: url("../asset/img/btn_start_gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  float: left;
  width: 56px;
  height: 55px;
  margin: 30px 0px 8px -4px;
  background-size: cover;
}
.content h1 {
  font-weight: 400;
  font-size: 65px;
  line-height: 1.2;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
.content h2 {
  font-weight: 100;
  line-height: 1.3;
  font-size: 40px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.dl-button {
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  width: 100px;
  height: 35px;
  line-height: 35px;
  color: white;
  padding: 10px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
}

.red {
  border-color: red;
}

.green {
  border-color: green;
}

.blue {
  border-color: dodgerblue;
}

.gray {
  border-color: slategray;
}

.black {
  border-color: darkslategrey;
}

.white {
  border-color: white;
}

.dl-button-start {
  width: 44px;
  height: 44px;
}

.marker {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  z-index: 1000;
  border-radius: 50%;
  box-shadow: 1px 1px gray;
}

.markerdetail {
  position: absolute;
  width: 250px;
  height: 120px;
  padding: 7px 5px 5px 7px;
  display: none;
  background: #FFFFFF;
  background-image: url("../asset/img/input-text-mark.png");
  background-position: left top;
  background-repeat: no-repeat;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 2000;
  border: 0;
  height: 55px;
  color: #674172;
  font-family: 'Lato';
  font-size: 17px;
  border: 1px solid #674172;
}

.markerdetail:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

input .markerdetail {
  outline: 0;
}

.arrow_box {
  position: absolute;
  background: red;
  border: 1px solid red;
}

.arrow_box:after {
  right: 100%;
  top: 50%;
  border: 1px solid red;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(100, 100, 100, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
