.clearfix:after, header:after {
  clear: both;
}

.clearfix:before, header:before, .clearfix:after, header:after {
  content: "";
  display: table;
}

.clearfix, header {
  *zoom: 1;
}

header {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
}
header .logo {
  float: right;
  padding: 20px;
}
header .logo img {
  width: 200px;
  height: auto;
}
header .done {
  border: 1px solid white;
  padding: 10px;
  color: white;
  width: auto;
  float: left;
  margin: 20px 40px;
  display: none;
}

.content {
  width: 100%;
  height: 80%;
  position: relative;
}
.content .url-holder {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-family: 'IconFont-social';
}
.content .url-holder input[type="text"]::-webkit-input-placeholder,
.content .url-holder textarea::-webkit-input-placeholder {
  color: #b2b1b1;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
}
.content input[type="text"] {
  font-size: 36px;
  text-align: center;
  font-family: 'IconFont-social';
  color: #636465;
  width: 89%;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content input[type="text"]:focus {
  outline: 0;
}
.content input[type="text"]:focus + .submit-but {
  background-image: url("../asset/img/btn_start_green.png");
}
.content .submit-but {
  background-image: url("../asset/img/btn_start_gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  float: left;
  width: 56px;
  height: 55px;
  margin: 30px 0px 8px -4px;
  background-size: cover;
}
.content h1 {
  font-weight: 400;
  font-size: 65px;
  line-height: 1.2;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
.content h2 {
  font-weight: 100;
  line-height: 1.3;
  font-size: 40px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
